{% extends 'base.html'%}
{% load static %}

{% block content %}       
        <div class="about-us-hero-images">
            <div class="background-img">
                <img src="{% static "assets/world-dots.png" %}">
            </div>
            <div class="about-us-logo"> 
                <img src="{% static "assets/logo-2.png" %}">
            </div>
        </div>


        <div class="about-us-information-container">
            <h1> Who Are We </h1>

            <div> 
                <h4> How Did Everything Started </h4>
                <p> I moved here in 2010 from Atlanta. While in Atlanta I worked for a sign company for 4yrs. I learned the trade and grew to really love it. When I arrived here in Dallas I worked for another sign company that was totally different from the one in Atlanta as far as the type of signage work being performed. While working with/for these two companies my interest grew about the sign business. At the time the economy wasn’t doing so well and the company i was working for decided to fire me </p>
                <br></br>
                <p> Instead of searching for another job I decided to look at the firing as a blessing in disguise and put my acquired knowledge to work for myself. I landed a few sign installation contracts with a few of the local sign shops and began doing installs for them. While working at SignzUp I learned to fabricate channel letter and channel cabinet signs which would play a huge role in my success.Now We are a full-service sign business.</p>
            </div>

            <div> 
                <h4> What We Do </h4>
                <p> Dickson Sign Company is a full-service sign business. We specialize in producing and installing any and all signage from lit channel letter/cabinet signs to car/wall wraps and any other sign you can imagine. </p>
            </div>

            <div> 
                <h4> What Sets Us Apart </h4>
                <p> we are proud of the VERY humble beginnings and literally starting from nothing to having a thriving business. What sets us apart from the other sign companies is that some companies only print others only produce channel letter signs and we do it all.
                    we also take good price in the type of sign we create, the craftman ship and the quality. </p>
            </div>
        </div>

        
{% endblock %}