{% load static %}


<html>
    <head>
        <title> Dickson Sign Company </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/home.css'%}">
        <link rel="stylesheet" href="{% static 'css/about.css'%}">
        <link rel="stylesheet" href="{% static 'css/common/footer.css'%}">
        <link rel="stylesheet" href="{% static 'css/common/header.css'%}">
        <link rel="stylesheet" href="{% static 'css/common/clear.css'%}">
        <link rel="stylesheet" href="{% static 'css/contact.css'%}">
        

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    </head>

   
    

    {% include 'common/header.html'%}

    {% block content %}
    {% endblock %}

    {% include 'common/footer.html'%}


    <script src="{% static 'js/actions.js'%} "></script>
  
</html>
