{% extends 'base.html'%}

{% load static %}

{% block content %}
        <div class="hero-img"> 
            <img src="{% static "assets/hero-img.jpg" %}" >
            <div class="hero-img-gradient"> </div>
            <h4> Full-Service Sign Making <br> Company Operating US Wide</h4>
        </div>


        <div class="services">

            <div class="services-img-container"> 
                <img src="" >
            </div>

            <div class="services-info-container">
                <h1> Our Services </h1>
                <p> We provide a wide range of signage and graphic services, from design and fabrication to installation and support, helping our clients carry their ideas from concept to completion. </p>
                
                <div class="services-bullet-point"> 
                    <ul>
                        <li> Fabrication </li>
                        <li> Installation </li>
                    </ul>
                    <ul>
                        <li> Design </li>
                        <li> Project Management </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="product-categories">
            <h1> Product Categories </h1>

            <div class="product">
                <img src="" >
                <h6> banners </h6>
            </div>

            <div class="product">
                <img src="" >
                <h6> pvc</h6>
            </div>
        </div>


        <div class="qualities">
            <div class="qualities-info-container">
                <h1> Reason to work with us </h1>

                <div class="qualities-bullet-point"> 
                    <ul>
                        <li> 
                            <img src="" >
                            <h5> Fast Turnaround </h5> 
                            <p> Advanced Design Tools and Instant Proofing Process Ensures We Get It Right The First Time.</p>
                        </li>
                        <li> 
                            <img src="" >
                            <h5> Nationwide Network </h5> 
                            <p> We operate across the U.S. equipped with the latest technology, ensuring your orders are produced fast.</p>
                        </li>
                    </ul>
                    <ul>
                        <li> 
                            <img src="" >
                            <h5> Quality </h5> 
                            <p> We offers a state-of-the-art production facility and skilled craftsmen for the production of high-quality business signs</p>
                        </li>
                        <li> 
                            <img src="" >
                            <h5> Unbeatable Product Mix </h5> 
                            <p> We offers the most extensive selection of print products available, with a range of stocks, sizes, coatings, and finishes. </p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="qualities-img-container"> 
                <img src="" >
            </div>
        </div>
{% endblock %}